@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@200;300;400;700&display=swap');

:root{
    /*PRIMARY*/

    --clr-singup-bg: hsl(217, 28%, 15%);
    --clr-main-bg: hsl(218, 28%, 13%);
    --clr-footer-bg: hsl(216, 53%, 9%);
    --clr-testimonials-bg: hsl(219, 30%, 18%);

    /*ACCENT*/
    --clr-cyan-gradient: hsl(176, 68%, 64%);
    --clr-blue-gradient: hsl(198, 60%, 50%);

    /*NEUTRAL*/
    --clr-white: hsl(0, 0%, 100%);

    /*FONT WEIGHTS*/
    --thin-weight: 200;
    --mid-weight: 400;
    --bold-weight: 700;

    /*FONTS*/
    --font-famaly-r: 'Raleway', sans-serif;
    --font-famaly-s: 'Open Sans', sans-serif;

    /*PADDINGS*/
    --padding-body: 1.5em 1.65em 2em 1.665em;
    --p-1: 1rem;
    --p-125: 1.25rem;
    --p-15: 1.5rem;
    --p-2: 2rem;
    --p-3: 3rem;
    --p-4: 4rem;
    --p-5: 5rem;

    /*FONT SIZES*/
    --font-h1: 1.5rem;
    --font-h2: 1rem;
    --font-h2-2: 1.5rem;
    --font-h3: .7rem;
    --font-p: .95rem;
    --font-p2: .7rem;
    --font-p3: .55rem;
    --font-p4: .85rem;
    --font-a: .75rem;
    --font-a2: .8rem;

    /*LINE HEIGHTS*/
    --line-height-1: 2.5rem;
    --line-height-p: 1.3rem;
    --line-height-p2: 1.5rem;

    /*MARGIN*/
    --m-8-5: .85rem;
    --m-1: 1rem;
    --m-125: 1.25rem;
    --m-15: 1.5rem;
    --m-2: 2rem;
    --m-25: 2.5rem;
    --m-3: 3rem;
    --m-5: 5rem;
    --m-6: 6rem;
    --m-8: 8rem;

    /*GAP*/
    --g-55: .55rem;
    --g-1: 1rem;
    --g-125: 1.125rem;
    --g-15: 1.5rem;
    --g-2: 2rem;
}

*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* TITLE - General Set Up*/
/*ref: --padding-body: 2.5em 2.5em 2em 2.5em;*/
body{
    background-color: var(--clr-singup-bg);
    color: var(--clr-white);
    font-family: var(--font-famaly-r);
}

h1{
    font-size: var(--font-h1);
    line-height: var(--line-height-1);
    text-align: center;
}

h2{
    font-size: var(--font-h2);
}

a{
    text-decoration: none;
    color: var(--clr-white);
    font-size: var(--font-a);
    font-weight: var(--thin-weight);
}

p{
    font-size: var(--font-p);
    line-height: var(--line-height-p);
    font-weight: var(--mid-weight);
    text-align: center;
    font-family: var(--font-famaly-s);
    color: #ccc;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s ease;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* TITLE - Header */

header{
    padding: 1.5rem 1.65rem;
    display: flex;
    justify-content: space-between;
}

header nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav a:hover,
header nav a:active{
    font-weight: var(--bold-weight);
}

header img{
    width: clamp(18%, 13%, 12%);
}


/* TITLE - Main - What Is Fylo */
main{
    position: relative;
}

main::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    top: 20%;
    background-color: var(--clr-main-bg);
    z-index: -10;
}

main .waves-container{
    width: 100%;
    position: absolute;
    top: 5.5%;
    z-index: -1;
}

main .waves-container::before{
    content: "";
    position: absolute;
    top: 96%;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: var(--clr-main-bg);
}

main .waves-img{
    width: 100%;
}

.what-is-fylo{
    margin-top: var(--m-3);
    gap: var(--g-125);
    position: relative;
}

.what-is-fylo .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
}


.what-is-fylo .container img{
    max-width: 100%;
    text-align: center;
    margin-bottom: var(--m-1);
}


.what-is-fylo .container h1{
    margin-bottom: var(--m-8-5);
}


.what-is-fylo .container button{
    color: var(--clr-white);
    font-weight: var(--bold-weight);
    background: linear-gradient(90deg, 	#65e2d9, #339ecc);
    font-size: .85em;
    padding: 1rem 5rem;
    border-radius: 1.35rem;
    border: none;
    margin-top: var(--m-1);
    white-space: nowrap;
}

.what-is-fylo .container button:hover{
    background: var(--clr-cyan-gradient);
}

/* TITLE - Fylo Properties */

.fylo-properties{
    margin-top: var(--m-6);
}

.fylo-properties .card-properties{
    text-align: center;
    margin-bottom: var(--m-2);
    padding: var(--p-2);
}

.fylo-properties .card-properties img{
    max-width: 18%;
    margin-bottom: var(--m-2);
}

.fylo-properties .card-properties .img-1{
    max-width: 19%;
}

.fylo-properties .card-properties .img-2{
    max-width: 16%;
}

.fylo-properties .card-properties .img-3{
    max-width: 21%;
}

.fylo-properties .card-properties h2{
    margin-bottom: var(--m-8-5);
}

/* TITLE - Fylo Access */

.fylo-access{
    text-align: center;
    margin-top: var(--m-6);
    padding: var(--p-2);
}

.fylo-access .stay-productive-img{
    text-align: center;
    width: 100%;
    margin-bottom: var(--m-3);
}

.fylo-access p,
.fylo-access h2{
    margin-bottom: var(--m-15);
}

.fylo-access p,
.fylo-access h2,
.fylo-access a{
    text-align: start;
}

.fylo-access a{
    display: flex;
    align-items: center;
    gap: var(--g-55);
    color: var(--clr-cyan-gradient);
    position: relative;
}

.fylo-access a::before{
    content: "";
    position: absolute;
    height: 1px;
    min-width: 7.275rem;
    background-color: var(--clr-cyan-gradient);
    left: 0;
    top: 1.35rem;
}

.fylo-access .arrow-img{
    margin-bottom: .125rem;
}

/*TITLE - Fylo Comments */

.fylo-comments{
    padding: var(--p-3);
    margin-top: var(--m-6);
}

.fylo-comments .quotes-img{
    max-width: 7%;
}

.fylo-comments .card-comments{
    max-width: 100%;
    background-color: var(--clr-testimonials-bg);
    margin-bottom: var(--m-15);
    border-radius: .25rem;
    padding: 1.35rem 1.5rem;
    box-shadow: 0 0 5px hsl(217, 28%, 17%);
}

.fylo-comments .card-comments p{
    font-size: var(--font-p2);
    text-align: left;
}

.fylo-comments .person-who-commented{
    display: flex;
    align-items: center;
    gap: .65rem;
    margin-top: var(--m-1);
}

.fylo-comments .person-who-commented img{
    max-width: 10%;
    border-radius: 50%;
}

.fylo-comments .name-and-charge .p-charge{
    margin: 0;
}

.fylo-comments .name-and-charge h3{
    font-size: var(--font-h3);
    letter-spacing: .1rem;
}

.fylo-comments .name-and-cherge p{
    font-size: var(--font-p3);
    font-weight: 300;
}

/*TITLE - Fylo SignUp*/

.signup-container{
    position: relative;
}

.signup-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--clr-footer-bg);
    top: 50%;
    z-index: -5;
}

.fylo-signup{
    margin: var(--m-6) var(--m-125) 0 var(--m-125);
    background-color: var(--clr-singup-bg);
    border-radius: .55rem;
    padding: 2.3rem 2.5rem 2.5rem 2.5rem;
    box-shadow: 6px 6px 1px #12121245;
    text-align: center;
}

.fylo-signup span{
    margin-top: .45rem;
    font-size: .7rem;
    font-weight: var(--bold-weight);
    
}

.fylo-signup h2, p, span{
    margin-bottom: var(--m-15);
}

.fylo-signup input, button{
    width: 93%;
    border-radius: 2rem;
    padding: 1rem 1.3rem;
    border: none;
}

.fylo-signup button{
    background: linear-gradient(90deg, #65e2d9, #339ecc); 
    font-weight: var(--bold-weight);
    color: var(--clr-white);
}

.fylo-signup button:hover{
    background: var(--clr-cyan-gradient);
}

.fylo-signup input:focus, input::placeholder{
    color: #99999978;
    border: none;
    outline: none;
    font: .85rem;
}

.fylo-signup input:focus{
    color: #000;
}

.fylo-signup #text{
    display: block;
}


/*TITLE - Footer*/ 

footer{
    background-color: var(--clr-footer-bg);
    margin-top: var(--m-5);
}

footer .footer-img{
    margin-left: var(--m-25);
}

.fylo-data-contact{
    padding: 0 var(--p-15);
    margin-top: var(--m-25);
}

.fylo-data-contact .flex-data{
    display: flex;
    align-items: center;
    gap: var(--g-15);
    margin-top: var(--m-1);
}

.fylo-data-contact .flex-data p{
    text-align: start;
    font-size: var(--font-p4);
    line-height: var(--line-height-p2);
}

.fylo-data-contact .flex-data .icon{
    align-self: baseline;
    margin-top: .4rem;
}

.nav-footer{
    margin-top: var(--m-3);
    padding: 0 var(--p-15);
    display: flex;
    flex-direction: column;
    gap: var(--g-1);
}

.nav-footer a{
    font-weight: 400;
    font-size: var(--font-a2);
    transition: all ease .5s;
}

.nav-footer a:hover{
    font-weight: var(--bold-weight);
}

.fylo-social{
    display: flex;
    justify-content: center;
    gap: var(--g-15);
    margin: var(--m-5) 0 0 0;
    padding-bottom: 2.5rem;
}

.fylo-social i{
    padding: .25rem;
    border: 1px solid var(--clr-white);
    border-radius: 50%;
    transition: all ease .5s;
}

.fylo-social i:hover{
    border: 1px solid var(--clr-cyan-gradient);
    color:  var(--clr-cyan-gradient);
}

.social:nth-child(2){
    transition-delay: 200ms;
}

.social:nth-child(3){
    transition-delay: 400ms;
}

/*TITLE - Media*/

@media (min-width: 850px){
    .card:nth-child(2) {
        transition-delay: 400ms;
    }

    .card:nth-child(3) {
        transition-delay: 1000ms;
    }    

    /*TITLE - Main*/
    main::after{
        height: 75%;
        top: 28%;
    }

    main .waves-container{
        top: 12%;
    }

    /*TITLE - Heades*/
    header img{
        max-width: 8%;
    }


    /*TITLE - What Is Fylo*/
    .what-is-fylo{
        margin: 3.75rem auto;
        max-width: 60%;
    }

    .what-is-fylo .container button{
        width: 45%;
    }

    /*TITLE - Properties*/
    .fylo-properties{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .fylo-properties .card-properties{
        max-width: 35%;
    }

    /*TITLE - Fylo Access*/
    .fylo-access{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--g-2);
        padding: var(--p-2) var(--p-3);
    }

    .fylo-access .stay-productive-img{
        width: 45%;
    }

    .fylo-access h2{
        font-size: var(--font-h2-2);
    }

    /*TITLE - Fylo-comments*/
    .fylo-comments{
        padding: var(--p-3) var(--p-5);
    }

    .fylo-comments .quotes-img{
        max-width: 2.5%;
    }

    .fylo-comments .cards-container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: var(--g-15);
    }

    .fylo-comments .card-comments{
        margin: 0 0 var(--m-2) 0;
    }

    /*TITLE - Fylo Signup*/
    .fylo-signup{
        margin: var(--m-6) auto 0 auto;
        max-width: 55%;
    }

    .fylo-signup p{
        margin-bottom: var(--m-2);
    }

    .fylo-signup .sigup-input-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--g-15);
        position: relative;
    }

    .fylo-signup span{
        position: absolute;
        top: 100%;
        left: 4%;
    }

    .fylo-signup .sigup-input-container input{
        margin: 0;
        min-width: 40%;
    }

    .fylo-signup .sigup-input-container button{
        width: 45%;
        white-space: nowrap;
    }

    /*TITLE - Fylo footer*/
    footer img, p, a{
        margin: 0;
    }

    footer .footer-img{
        max-width: 10%;
    }

    footer .footer-container{
        margin-top: var(--m-25);
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-bottom: var(--p-3);
    }

    footer .fylo-data-contact{
        max-width: 45%;
        padding: 0;
        margin-top: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .fylo-data-contact .phone-email-container .fylo-phone{
        margin-bottom: var(--m-1);
    }

    footer .fylo-data-contact .flex-data{
        margin-top: 0;
        align-items: flex-start;
    }

    .fylo-data-contact .fylo-location{
    
    }

    .fylo-data-contact .fylo-location p{
        line-height: normal;
    }

    footer .nav-footer{
        padding: 0;
        margin-top: 0;
    }

    footer .fylo-social{
        padding: 0;
        margin-top: 0;
    }
}

@media (prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}